docker.enabled = true

process {
    memory = 60.GB
}


profiles {

    local {
        process.executor = 'local'
        params.threads = 16
    }

    cluster {
        process.executor = 'sge'
        process.queue = 'long'
        process.memory = '64GB'
        params.threads = 32
    }

    aws {
        process.executor = 'awsbatch'
        process.queue = 'nextflow-queue'
        aws.region = 'ap-east-1'
        aws.batch.cliPath = '/home/ec2-user/miniconda/bin/aws'
        params.threads = 32
    }

}
